/* TODO */
.MultiCheck {
    display: inline-block;
    border: 1px solid #aaa;
}
.label {
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    height: 35px;
    background-color: #7ec1ff;
    color: white
}
.formBox{
    display: flex;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid gray;
    background-color: white;
}

.items {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.optionName{
    display: inline-block;
    margin-left: 5px;
}

.selectOne, .selectAll{
    vertical-align: middle;
}
